  <div class="row">
    <div class="col-md-6 text-center">
      <div class="row">
        <div class="col-md-6">
          <label for="filtroCategoria">Categoria:</label>
           <select class="custom-select" [(ngModel)]="filtroCategoria" name="filtroCategoria" (change)="Cambio_categoriaFiltro()">
             <option value="">Todas</option>
             <option *ngFor="let catItem of categorias" [value]="catItem">{{catItem}}</option>
           </select>
        </div>
        <div class="col-md-6">
          <label for="filtroSubcategoria">Subcategoria:</label>
         <select class="custom-select" [(ngModel)]="filtroSubcategoria" name="filtroSubcategoria">
           <option value="">Todas</option>
           <option *ngFor="let subcatItem of subcategoriasFiltro" [value]="subcatItem">{{subcatItem}}</option>
         </select>
        </div>
      </div>

      <hr>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="busqueda">Búsqueda:</label>
            <input type="text" class="form-control" placeholder="Búsqueda" name="busqueda" [(ngModel)]="busqueda">
          </div>

        </div>
      </div>
<div class="row">
  <div class="col-md-1">

  </div>
  <div class="col-md-3">
    <button (click)="Nuevo_articulo()" class="btn btn-success puntero">Nuevo artículo</button>
  </div>
</div>


      <br>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Referencia</th>
            <th scope="col">Titulo</th>
            <th scope="col">Categoria</th>
            <th scope="col">Subcategoria</th>
            <th scope="col">Imagen</th>
            <th scope="col">Precio</th>
            <th scope="col">Disponible</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let articulo of (_as.articulos | fitroEditar:{c:filtroCategoria, s:filtroSubcategoria, b:busqueda});let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{articulo.ref}}</td>
            <td>{{articulo.titulo}}</td>
            <td>{{articulo.categoria}}</td>
            <td>{{articulo.subcategoria}}</td>
            <td><p *ngIf="articulo.urlImagen != ''">Cargada</p></td>
            <td>{{articulo.precio | currency}}</td>
            <td><p *ngIf="articulo.disponible">SI</p></td>
            <td><button (click)="Editar_articulo(articulo)" class="btn btn-primary puntero">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <div class="container" *ngIf="articuloEditar">
        <form>
          <h3>Editar articulo:{{articuloEditar.id}}</h3>
          <div class="form-group">
            <label for="referencia">Referencia:</label>
            <input type="text" class="form-control" placeholder="Referencia" name="referencia" [(ngModel)]="articuloEditar.ref">
          </div>
          <div class="form-group">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" placeholder="Título" name="titulo" [(ngModel)]="articuloEditar.titulo">
          </div>
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input type="text" class="form-control" placeholder="Descripcion" name="descripcion" [(ngModel)]="articuloEditar.descripcion">
          </div>
          <hr>
          <div class="row">
            <div class="col-md">
            <label for="categoria">Categoria:</label>
             <select class="custom-select" [(ngModel)]="articuloEditar.categoria" name="categoria" (change)="Cambio_categoria()">
               <option *ngFor="let catItem of categorias" [value]="catItem">{{catItem}}</option>
             </select>
            </div>
            <div class="col-md">
              <label for="subcategoria">Subcategoria:</label>
             <select class="custom-select" [(ngModel)]="articuloEditar.subcategoria" name="subcategoria">
               <option *ngFor="let subcatItem of subcategorias" [value]="subcatItem">{{subcatItem}}</option>
             </select>
           </div>
         </div>
          <hr>
          <div class="row">
            <div class="col-md">
              <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="text" class="form-control" placeholder="Precio" name="precio" [(ngModel)]="articuloEditar.precio">
              </div>
            </div>
            <div class="col-md">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" id="customCheck1" [(ngModel)]="articuloEditar.disponible" name="disponible">
                <label class="custom-control-label" for="customCheck1">Disponible</label>
              </div>
            </div>
          </div>
          <br>
          <hr>
          <div class="row">
            <div class="col-md text-center">
              <img [src]="articuloEditar.urlImagen | sinImagen:uploading" class="img-fluid pull-xs-left" alt="...">
            </div>
          </div>
          <div *ngIf="uploading" class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': progreso + '%' }"></div>
          </div>

          <br>
          <div class="row">
            <div class="col-md">
              <input class="form-control" name="fichero" [(ngModel)]="fichero" type="file" id="fichero">
            </div>
            <div class="col-md">
              <button class="btn btn-primary btn-block puntero"  (click)="Subir()">Cambiar imagen</button>
            </div>
          </div>

          <br>
          <hr>
          <div class="row">
            <div class="col-md">
              <button (click)="Actualizar()" type="submit" class="btn btn-success btn-block puntero">Actualizar</button>
            </div>
            <div class="col-md">
              <button (click)="Eliminar()" class="btn btn-danger btn-block puntero">Eliminar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
