<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="assets/images/nenuco_400x400.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Nenuco merienditas</h4>
      <p class="card-text">Esta nenuco trae un montón de cosas</p>
      <p class="card-text"><small class="text-muted">Precio: 59.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/playmobilColegio_400x248.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Colegio playmobil</h4>
      <p class="card-text">Este es el colegio de playmobil</p>
      <p class="card-text"><small class="text-muted">Precio: 29.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/pinypon_400x240.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Casa de pinypon</h4>
      <p class="card-text">Esta es la nueva casa de pinypon, muy chula</p>
      <p class="card-text"><small class="text-muted">Precio: 69.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/pinypon_400x240.jpg" alt="Casa de pinypon">
    <div class="card-body">
      <h4 class="card-title">Casa de pinypon</h4>
      <p class="card-text">Esta es la nueva casa de pinypon, muy chula</p>
      <p class="card-text"><small class="text-muted">Precio: 69.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/casa_playmobil_400x280.jpg" alt="Casa de pinypon">
    <div class="card-body">
      <h4 class="card-title">Casa de playmobil</h4>
      <p class="card-text">Esta es la nueva casa de playmobil, también muy chula</p>
      <p class="card-text"><small class="text-muted">Precio: 39.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/casa_playmobil_400x280.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Casa de playmobil</h4>
      <p class="card-text">Esta es la nueva casa de playmobil, también muy chula</p>
      <p class="card-text"><small class="text-muted">Precio: 39.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/nenuco_400x400.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Nenuco merienditas</h4>
      <p class="card-text">Esta nenuco trae un montón de cosas</p>
      <p class="card-text"><small class="text-muted">Precio: 59.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/playmobilColegio_400x248.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Colegio playmobil</h4>
      <p class="card-text">Este es el colegio de playmobil</p>
      <p class="card-text"><small class="text-muted">Precio: 29.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/casa_playmobil_400x280.jpg" alt="Casa de pinypon">
    <div class="card-body">
      <h4 class="card-title">Casa de playmobil</h4>
      <p class="card-text">Esta es la nueva casa de playmobil, también muy chula</p>
      <p class="card-text"><small class="text-muted">Precio: 39.99€</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/images/casa_playmobil_400x280.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Casa de playmobil</h4>
      <p class="card-text">Esta es la nueva casa de playmobil, también muy chula</p>
      <p class="card-text"><small class="text-muted">Precio: 39.99€</small></p>
    </div>
  </div>
</div>
