<!-- Botones de acceso -->

<hr>
<div class="row">
  <div class="col-md">
    <button type="button" class="btn btn-primary btn-lg btn-block puntero">Juguetes</button>
  </div>
  <div class="col-md">
    <button type="button" class="btn btn-secondary btn-lg btn-block puntero">Droguería</button>
  </div>
  <div class="col-md">
    <button type="button" class="btn btn-success btn-lg btn-block puntero">Menaje</button>
  </div>
  <div class="col-md">
    <button type="button" class="btn btn-danger btn-lg btn-block puntero">Papelería</button>
  </div>
  <div class="col-md">
    <button type="button" class="btn btn-warning btn-lg btn-block puntero">Otras cosas...</button>
  </div>
</div>
<hr>
<!-- Fin Botones de acceso -->
<!-- Barra info -->
<app-home-info></app-home-info>
<!-- Fin Barra info -->

<!-- Listado de articulos -->

<hr>
<div class="card-columns" *ngIf="articulos">
  <div class="card" *ngFor="let articulo of articulos">
    <div *ngIf="articulo.disponible">
      <img class="card-img-top" [src]="articulo.urlImagen | sinImagen" [alt]="articulo.ref">
      <div class="card-body">
        <h4 class="card-title">{{articulo.titulo}}</h4>
        <p class="card-text">{{articulo.descripcion}}</p>
        <p class="card-text"><small class="text-muted">Precio: {{articulo.precio | currency}}</small></p>
      </div>
    </div>
  </div>
  <!-- <div class="card">
    <img class="card-img-top" src="assets/images/playmobilColegio_400x248.jpg" alt="Nenuco">
    <div class="card-body">
      <h4 class="card-title">Colegio playmobil</h4>
      <p class="card-text">Este es el colegio de playmobil</p>
      <p class="card-text"><small class="text-muted">Precio: 29.99€</small></p>
    </div>
  </div> -->
</div>

<!-- Fin Listado de articulos -->

<!-- BORRAR HASTA EL FINAL -->


<button (click)="Editar_articulos()" class="btn btn-primary">Editar articulos</button>
