.puntero{
  cursor: pointer;
}
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 5;
            column-count: 5;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.div-con-borde{
  border:solid;
  border-width: 1px;
}
